.nav-components {
    background-color: #34C94B;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    padding: 0 10px;
}

.logo {
    height: 40px;
    width: auto;
    margin: 12.5px 20px; /* This should center the logo vertically */
    display: block;
}


.search {
    display: flex;
    align-items: center;
    gap: 5px; /* Adds spacing between input and icon */
}

.search-input {
    width: 200px; /* Adjust based on navbar size */
    background-color: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 2px solid grey;
    height: 40px;
}

.search-icon {
    /* color: black; */
}

.search-icon-div{
    background-color: white;
    margin-left: -5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    height: 42px;
    border: 2px solid grey;
    border-left: 0;
}

.feedback-button {
    background-color:black;
    color: #34C94B;
    text-transform: none;
    height: 40px;
    border-radius: 10px;
    cursor:pointer;
    font-family: 'Poppins', sans-serif;
}
