@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body, html{
    font-family: 'Poppins', sans-serif;
    margin: 0 !important; 
    padding: 0 !important;
    background-color: black;
}