@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

.body{
    font-family: 'Poppins', sans-serif;
}

.Card {
  height: 232px;
  width: 159px;
  margin-left: 6px;
  margin-right: 6px;
  background-color: black !important;
}
.inside-container-card{
    width:159px;
    height: 205px;
    background-color: white;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.Card img {
    height: 170px;
    width: 159px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.chip{ 
    /* width: 90px; */
    height: 23px;
    background-color: #121212 !important;
    color: white !important;
}

.content-container{
    padding: 4px 8px; 
    
}

.footer-text{
    padding: 4px 8px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0px;
}