

   /* Remove default arrow icons */
.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

/* Style the previous button */
.swiper-button-prev {
  background: url('./../../assets/navigation-Left.png') no-repeat center center;
  background-size: contain;
  width: 40px;  /* Adjust size as needed */
  height: 40px;
}

.swiper-button-prev:active {
    transform: scale(0.9) rotate(-5deg);
  }

/* Style the next button */
.swiper-button-next {
  background: url('./../../assets/navigation-Right.png') no-repeat center center;
  background-size: contain;
  width: 40px;  /* Adjust size as needed */
  height: 40px;
}

.swiper-button-next:active {
    transform: scale(0.9) rotate(5deg);
  }